# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/
.venv/

# Django database file ONLY
db.sqlite3
*.sqlite3

# VS Code
.vscode/

# Environment variables
.env

# Media uploads (optional)
media/

# OS files
.DS_Store
Thumbs.db